.profile-page {
  min-height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background: #fafafa;
}

.profile-card {
  width: 100%;
  max-width: 500px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 3px 2px rgb(164, 156, 156);
}

.profile-avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background:linear-gradient(-145deg ,#1173b0a7,#0762ece6) ;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-weight: 600;
}

.profile-card h1 {
  margin: 0;
  font-size: 28px;
  color: #222;
}

.profile-subtitle {
  margin: 8px 0 30px;
  color: #777;
}

.profile-info {
  text-align: left;
  border-top: 1px solid #eee;
}

.profile-item {
  padding: 18px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile-item span {
  color: #777;
}

.profile-item strong {
  color: #222;
  text-align: right;
}

.logout-btn {
  width: 100%;
  margin-top: 30px;
  padding: 13px;
  border: none;
  border-radius: 10px;
  background: #f97316;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #ea580c;
}

@media (max-width: 500px) {
  .profile-card {
    padding: 30px 20px;
  }

  .profile-item {
    flex-direction: column;
    gap: 6px;
  }

  .profile-item strong {
    text-align: left;
  }
}